body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8dc186;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#sliderImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}